<div class="form-container" role="presentation">
    <mat-card fxFlex="50">

        <div class="title">
            <span class="f">f</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="O">o </span>
            <span class="f">N</span>
            <span class="u">o</span>
            <span class="n">t</span>
            <span class="d">e</span>
            <span class="o">s</span>

        </div>
        <div class="create-class">Create your Fundoo Account</div>
        <div class="card" role="presentation">
            <div class="firstame-lastname">
                <form>
                    <form class="firstname">
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input id="fname" matInput placeholder="First Name" name="fname"
                                [(ngModel)]="register.firstName">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" name="lname" [(ngModel)]="register.lastName">
                        </mat-form-field>
                    </form>
                    <form>
                        <mat-form-field style="width:26vw">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username" name="email" [(ngModel)]="register.email"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autocomplete=" off">
                            <mat-error>invalid email</mat-error>
                            <mat-hint>you can use letters,numbers & periods</mat-hint>
                        </mat-form-field>
                    </form>

                    <form>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="password" name="password"
                                [(ngModel)]="register.password">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Confirm</mat-label>
                            <input type="password" matInput placeholder="Confirm">
                        </mat-form-field>
                    </form>
                    <div class="button">
                        <div>
                            <button mat-flat-button [routerLink]="['/login']">Sign in insted</button>
                        </div>
                        <form (ngSubmit)="submit()">
                            <div>
                                <button mat-flat-button color="primary">Next</button>
                            </div>
                        </form>

                    </div>
                </form>

            </div>

            <div class="image-container">
                <figure class=image>
                    <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="" width="244" height="244"
                        class="j9NuTc TrZEUc">
                </figure>
            </div>
        </div>
    </mat-card>

</div>