@import '../../style/color.scss';

.form-container{
    margin: 50px; 
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.image{
 
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0%;

}

.create-class{
    margin-bottom:3%;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.title{
    margin-bottom:3%;
}

.card{
    display: flex;
    justify-content: space-between;
}
.f{
    color:$primary-blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large;
    
}
.u{
    color:$primary-red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large;
}
.n{
    color:$primary-yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large;
}
.d{
    color:$primary-blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large;
}
.o{
    color:$primary-green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large;
}
.O{
    color:$primary-red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large;
}

.button{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.firstname{
    display: flex;
    flex-direction: row;
}
.image-text{
    display: flex;
    justify-content: center;
}