<div class="main-box">
    <div class="box" *ngFor="let array of arr">
        <ng-container *ngIf="array.isArchived==true && array.isDeleted==false">
            <mat-card class="card">

                <div class="title" (click)="onClick(array._id)">
                    {{array.title}}
                </div>
                <div class="description">
                    {{array.description}}
                </div>
                <div class="description">
                    <ng-container *ngIf="array.collaborator.length">
                        <button mat-button>
                            <mat-icon fontSet="material-icons-outlined"> account_circle</mat-icon>
                        </button>
                    </ng-container>
                </div>
                <div>
                    <button mat-icon-button>
                        <mat-icon fontSet="material-icons-outlined">unarchive</mat-icon>
                    </button>
                </div>
            </mat-card>
        </ng-container>
    </div>
</div>