<div class="form-container" role="presentation">
    <mat-card fxFlex="50">
        <div class="title">
            <div>
                <span class="f">f</span>
                <span class="u">u</span>
                <span class="n">n</span>
                <span class="d">d</span>
                <span class="o">o</span>
                <span class="O">o </span>

                <span class="f">N</span>
                <span class="u">o</span>
                <span class="n">t</span>
                <span class="d">e</span>
                <span class="o">s</span>
            </div>
        </div>

        <div>
            <div class="sign-in">
                <span>Sign in</span>
            </div>
        </div>

        <div>
            <div class="subtext-one">
                <span>Use your google account</span>
            </div>
        </div>

        <form>
            <form class="email">
                <mat-form-field style="width:26vw">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="" name="email" [(ngModel)]="login.email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <mat-error>invalid email</mat-error>
                </mat-form-field>
            </form>

            <form class="password">
                <mat-form-field style="width:26vw">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="" name="password" type="password" [(ngModel)]="login.password">
                </mat-form-field>
            </form>

            <div class="button-forgot">
                <div>
                    <a mat-button color="primary" [routerLink]="['/forgotpassword']">forgot pssword?</a>
                </div>

            </div>

            <div class="button">
                <div>
                    <button mat-flat-button [routerLink]="['']">Create Account</button>
                </div>
                <form (ngSubmit)="submit()">
                    <div>
                        <button mat-flat-button color="primary">Next</button>
                    </div>
                </form>
            </div>
        </form>



    </mat-card>

</div>