<div class="form-container" role="presentation">
    <mat-card fxFlex="50">
        <div class="title">
            <div>
                <span class="f">F</span>
                <span class="u">U</span>
                <span class="n">N</span>
                <span class="d">D</span>
                <span class="o">O</span>
                <span class="O">O </span>

                <span class="f">N</span>
                <span class="u">O</span>
                <span class="n">T</span>
                <span class="d">E</span>
                <span class="o">S</span>
            </div>
        </div>

        <div>
            <div class="sign-in">
                <span>Sign in</span>
            </div>
        </div>

        <div>
            <div class="subtext-one">
                <span>Use your google account</span>
            </div>
        </div>

        <form>
            <form class="email">
                <mat-form-field style="width:26vw">
                    <mat-label>Token</mat-label>
                    <input matInput placeholder="" name="token" [(ngModel)]="reset.token">
                    <mat-error>invalid email</mat-error>
                </mat-form-field>
            </form>

            <form class="password">
                <mat-form-field style="width:26vw">
                    <mat-label> New Password</mat-label>
                    <input matInput placeholder="" name="password" type="password" [(ngModel)]="reset.password">
                </mat-form-field>
            </form>


            <div class="button">
                <div>
                    <button mat-flat-button [routerLink]="['/login']">login</button>
                </div>
                <form (ngSubmit)="submit()">
                    <div>
                        <button mat-flat-button color="accent">Save</button>
                    </div>
                </form>
            </div>
        </form>



    </mat-card>

</div>