<mat-card style="padding: 5px;">
    <div class="header">
        <div class="header-main-1" role="button">
            <button mat-button>
                <mat-icon>menu</mat-icon>>
            </button>
            <div class="keep-icon" role="button">
                <button mat-flat-button style="padding: 0%;"><img class="google"
                        src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
                        srcset="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png 2x "
                        alt="" aria-hidden="true" style="width:40px;height:40px;padding-top: 0px;"> </button>
                <div class="keep-text" role="button">Keep</div>
            </div>
        </div>

        <div class="header-main-2">
            <mat-form-field appearance="outline" style="width: 50vw;height: 65px;">
                <input matInput placeholder="Search">
            </mat-form-field>
        </div>
        <div class="header-main-3">
            <button mat-button><img id="refresh" src="../../assets/refresh.svg"></button>
        </div>
    </div>


</mat-card>